name: Node.js CI

on:
  push:
    branches: [ dev ]
  pull_request:
    branches: [ dev ]

jobs:
  build:

    runs-on: ubuntu-latest
    
      
    strategy:
      matrix:
        node-version: [16.x]
        
    steps:
    - name: Setup Node.js environment
      uses: actions/setup-node@v2.4.0
      with:
        node-version: ${{ matrix.node-version }}
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    - run: npm run build --if-present
    - run: npm test
    - name: Auto Assign Action
      uses: kentaro-m/auto-assign-action@v1.2.0
      with:
        repo-token: ${{ github.token }}
        configuration-path: .github/auto_assign.yml